@import
url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
*{
 margin: 0;
}
body{
 font-family: 'Roboto' ,  sans-serif;
 font-size: 16px;

}
  h1,h2,h3,h4,h5{
  font-family: 'Marcellus' , serif;
}


/*Barra de navegacion*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro2);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}
.item{
    padding: 1rem;
}
.menu a{
    color: var(--blanco);
    text-decoration: none;
}
.navbar-button{
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}
.menu i{
    margin-right: 0.5rem;
}

.logo img{
   height: 3rem;
}

#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top:  1rem;
}
.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}
.feature-black{
    background-color: rgba(0,0,0,0.59);
}