@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Marcellus', serif;
}

#container-grid{

        display: grid;
        grid-template:
            "nav" auto
            "banner" 400px
            "descripcion" auto
            "feature" auto
            "ubicacion" auto
            "opinion" auto
            "footer" auto
    }

/*Resolución tabletas*/
@media screen and (min-width:768px) {
   
    
}

/*Resolución resoluciones macro*/
@media screen and (min-width:1308px) {
    body{
        background-color: #EAEAEA;
    }
    #container-grid{
        max-width: 1300px;
        margin: 0 auto;
    }

}
nav {
    grid-area: nav;
    display: grid;
    grid-template-areas:
        "logo"
        "menu";
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    position: fixed;
width: 100%;
z-index: 100;
}
.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo-img menu-bars";
    background-color: var(--negro2);
    padding: 1rem;
}
.logo img {
    justify-self: start;
    width: 50%;
    max-width: 180px;
}
.logo i{
    grid-area: menu-bars;
    justify-self: end;
    color: var(--blanco);
    font-size: 2rem;
}
.menu {
    grid-area: menu;
    display: none;
    background-color: rgba(1, 10, 52, 0.838);
}
.menu-hr {
    width: 90%;
    background-color: var(--blanco);
    justify-self: center; /*para centrar el hr*/
}
 
.item {
    padding: 1rem 0;
}
 
nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}
 
nav a:hover {
    background-color: #0B3860;
    width: 100%;
}
 
.navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}
#banner {
    background-image: url('../img/index//slide1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    margin-top: 60px;
    min-height: 400px;
}
.texto1{
    background-color: rgba(0,0,0,0.35);
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--blanco);
    display: flex; 
    flex-wrap: wrap-reverse;
}

#descripcion {
   margin: 1.5rem;
}

#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding:  1rem;
    margin-top: 1.5rem;
}
.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}
.feature-black{
    background-color: rgba(0,0,0,0.59);
}

#ubicacion{
    margin: 1rem;
    font-size: 2.2em;
    text-align: center;
    font-family: 'Marcellus', serif;
}
#ubicacion p{
    margin: 2rem;
}
.ubicanos-hr{
  width: 90%;  
  background-color: magenta;
}
#ubicacion iframe{
    width:515px;
    height:550px; 
    border: 0;
}
#ubicacion div{
    margin: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}
#ubicacion div p{
    margin-top: 1rem;
}

#opinion{
    background: url(../img/opinion/vector-comentarios.png);
    color: white;
    padding:  1rem;
    margin-top: 1.5rem;
    height: 15rem;
}
.opinion-title{
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}
.opinon-description{
    display: flex;
    flex-wrap: colum;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.foto1{
    width: 5rem;
    height:5rem;
    background-image: url(../img/opinion/user1.png);
    background-size: cover;
    border-radius: 50%;
    margin: 0.5rem;
}
.foto2{
    width: 5rem;
    height:5rem;
    background-image: url(../img/opinion/user2.png);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}
.foto3{
    width: 5rem;
    height:5rem;
    background-image: url(../img/opinion/user3.png);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}

.opiniones{

  

}
.opinion-uno .arriba{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-end;
}
.opinion-uno .arriba p{
  flex-direction: column;
}

.opinion-uno{
 
   margin: 2rem;

}


/*Resolución tabletas*/
@media screen and (min-width:768px) {
  nav{
  background-color: var(--negro2);
  grid-template-columns: 200px auto;
  grid-template-areas: 
  "logo menu";
}

.logo img{
  width: 100%;
}
.logo i{
  display: none;
}

.menu{
  background-color: var(--negro2);
  display: grid ;
  grid-template-columns: auto auto auto auto;
  justify-self: end;
  align-self: center;
  padding: 0 1rem;
}

.menu-hr{
  display: none;
}

.item {
  margin: 0 1rem;
  align-self: center;
}

nav a {
  text-align: left;
}

nav a:hover {
  background-color: transparent;
  color: var(--azuloscuro);
}

.navbar-button {
  background-color: var(--azuloscuro);
  align-self: center;
}
   
}